header {
    color: blue;
    font-size: 60px;
    margin-top: 80px;
    margin-left: 800px;
    padding-right: 700px;
    text-align: left;
}

h1 {
    color: black;
    margin-left: 80px;
    margin-top: -10px;
    font-size: 30px;
    margin-left: 800px;
    padding-right: 700px;
    padding-bottom: 120px;
}

body {
    font-family: Noto Sans;
    background-image: url("https://i.pinimg.com/originals/15/28/85/15288504d9b005cfce8a0111e59a3264.jpg");
}
.a h2 {
    font-size: 35px;
    color: blue;
    margin-left: 80px;
    padding-top: 60px;
}

.a p {
    font-size: 25px;
    margin-top: -15px;
    margin-left: 80px;
    padding-right: 1000px;
}

.a ul {
    font-size: 25px;
    margin-top: -15px;
    margin-left: 80px;
    padding-right: 1000px;
}
.b h2 {
    color: blue;
    margin-left: 600px;
    font-size: 35px;
    margin-left: 1150px;
    margin-top: -866px;
}

.b .work {
    font-size: 25px;
    margin-left: 1150px;
    margin-top: -15px;
}

.c h2 {
    color: blue;
    font-size: 35px;
    margin-left: 1150px;
    margin-top: 150px;
}

.c h3 {
    font-size: 25px;
    margin-left: 1150px;
    margin-top: -15px;
    font-weight: bold;
    
}

.c .education {
    font-size: 25px;
    margin-top: -15px;
    margin-left: 1150px;
    padding-bottom: 20px;
}

.c ul {
    font-size: 25px;
    margin-top: -15px;
    margin-left: 1150px;
}
